.navul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.ulinks > * {
  color: blue;
}

.ulinks:not(:first-child) {
  border-left: 2px solid black;
  padding-left: 10px;
}

.divlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: calc(100% - 80px);
  padding: 0 40px;
  position: absolute;
  top: 0;
}
